#container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
}

#container_img {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
  margin-top: 5vh;
}

h1 {
	font-family: "Open Sans";
	font-size: 3vmax;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 3vmax;
}
h2 {
	font-family: "Open Sans";
	font-size: 2.5vmax;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 2.5vmax;
}
h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}
p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}
